<!--
    Relative paths assume component is being run from inside an app or another component, where dependencies are flat
    siblings. When this component is run from its own repo (e.g. ui tests, examples), we assume the server is started with
    'grunt depserve' (or similar server setup) to enable correct finding of bower dependencies for local runs.
-->
<link rel="import" href="../polymer/polymer.html"/>


<!--
Element providing solution to no problem in particular. As a simple, increments a counter when clicked.

##### Usage

    <px-highchart-gauge ></px-highchart-gauge>

@element px-highchart-gauge
@blurb Element providing solution to no problem in particular.
@homepage index.html
@demo demo.html
-->
<dom-module id="px-highchart-gauge">
    <script src="../highcharts/highstock.js"></script>
    <script src="../highcharts/highcharts-3d.js"></script>
    <script src="../highcharts/highcharts-more.js"></script>
    <script src="../highcharts/modules/solid-gauge.js"></script>
    <link rel="import" type="css" href="css/px-highchart-gauge.css"/>
    <template>
        <div id="chart"  style="width: 100%; height: 100%; display: block;" ></div>
    </template>
</dom-module>

<script>
    Polymer({

        is: 'px-highchart-gauge',

        /**
         * Properties block, expose attribute values to the DOM via 'notify'
         *
         * @property properties
         * @type Object
         */
        properties: {

            /**
             *  Use min attribute to set minimum value of range in chart
             *  Default value is 0
             *     <px-highchart-gauge min='0'></px-highchart-gaugee>
             *
             */
            min: {
                type: Number,
                value: 0
            },

            /**
             *  Use max attribute to set maximum value of range in chart
             *  Default value is 200
             *     <px-highchart-gauge max='200'></px-highchart-gaugee>
             *
             */
            max: {
                type: Number,
                value: 200
            },

            /**
             *  Use size attribute to set size of chart
             *  Default value is 100%
             *     <px-highchart-gauge size='80%'></px-highchart-gaugee>
             *
             */
            size: {
                type: String,
                value: '100%'
            },

            /**
             *  Use panelPosition attribute to set position of chart.
             *  Expected format is an array of two numbers
             *  Default value is ["50%", "85%"]
             *     <px-highchart-gauge panel-position='["50%", "85%"]'></px-highchart-gaugee>
             *
             */
            panelPosition: {
                type: Array,
                value: function() {
                    return ['50%', '50%']
                },
                notify: true
            },

            /**
             *  Use startAngle attribute to set start angle of chart.
             *  Default value is 0
             *     <px-highchart-gauge start-angle='90'></px-highchart-gaugee>
             *
             */
            startAngle: {
                type: Number,
                value: -360
            },

            /**
             *  Use startAngle attribute to set end angle of chart.
             *  Default value is 200
             *     <px-highchart-gauge end-angle='200'></px-highchart-gaugee>
             *
             */
            endAngle: {
                type: Number,
                value: 0
            },

            /**
             *  Use data attribute to set the series data to chart.
             *  Expected format is array of highchart series object (http://api.highcharts.com/highcharts#series<solidgauge>)
             *  Default value is [{"data": [1]}]
             *     <px-highchart-gauge end-angle='200'></px-highchart-gaugee>
             *
             */
            data: {
                type: Array,
                value: function() {
                    return [
                        {data: [1]}
                    ]
                },
                notify: true,
                observer: '_dataChanged'
            },

            /**
             *  Use options attribute to set chart configs.
             *  http://api.highcharts.com/highcharts
             */
            options: {
                type: Object,
                value: function() {
                    return {}
                },
                notify: true,
                observer: '_optionsChanged'
            }
        },

        ready: function() {
            this._optionsChanged();
        },

        _optionsChanged: function(){
            var _this = this;
            var defaultOptions = {
                chart: {
                    renderTo: _this.$.chart,
                    type: 'solidgauge',
                    width: null,
                    height: null
                },

                title: 'null',

                pane: {
                    size: _this.size,
                    center: _this.panelPosition,
                    startAngle: _this.startAngle,
                    endAngle: _this.endAngle,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '60%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },

                tooltip: {
                    enabled: true
                },

                // the value axis
                yAxis: {
                    min: _this.min,
                    max: _this.max
                },

                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: 1,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                },

                credits: {
                    enabled: false
                },

                series: _this.data
            };

            var options = _this.options ? Highcharts.merge(defaultOptions, _this.options) : defaultOptions;
            setTimeout(function() {
                _this.chart = new Highcharts.Chart(options);
            }, 1000);
        },

        _dataChanged: function() {
            var _this = this;
            if(_this.data instanceof Array){
                _this.data.forEach(function(d, index) {
                    _this.updatePoint(d.data, index);
                });
            } else {
                _this.updatePoint(_this.data, 0);
            }

        },

        /**
         * Update of point data of series
         * @param {number} val - The value of point.
         * @param {number} id - The index of series.
         */
        updatePoint: function(val, id) {
            if(!this.chart) return;
            id = id || 0;

            //validate series
            if (!this.chart.series.length || !this.chart.series[id]) {
                var series = {data: [val]};
                !this.chart.series[id] && (series.index = id);
                this.chart.addSeries(series);
            } else {
                this.chart.series[id].points[0].update(val);
            }
        },

        /**
         * get point value of series
         * @param {number} id - The index of series.
         */
        getPoint: function(id) {
            if(!this.chart) return;
            id = id || 0;
            if (this.chart.series.length == 0) {
                throw 'There is no series data';
            } else if (this.chart.series.length && !this.chart.series[id].points.length) {
                throw 'Series ' + id + 'has no point';
            } else {
                return this.chart.series[id].points[0];
            }
        },

        /**
         * update series color
         * @param {number} id - The index of series.
         * @param {String} color - The color of series.
         */
        updateSeriesColor: function(id, color) {
            id = id || 0;
            if (this.chart.series.length === 0) {
                throw 'There is no series data';
            } else if (!this.chart.series[id]) {
                throw 'Series ' + id + 'does not exist';
            } else {
                var series = this.chart.series[id];
                series.update({"zones": [{"color": color}]})
            }
        }
    });
</script>
