@charset "UTF-8";
/*
 * Copyright (c) 2014 GE Global Research. All rights reserved.
 *
 * The copyright to the computer software herein is the property of
 * GE Global Research. The software may be used and/or copied only
 * with the written permission of GE Global Research or in accordance
 * with the terms and conditions stipulated in the agreement/contract
 * under which the software has been supplied.
 */
/*
THIS FILE SHOULD CONTAIN ONLY RULES SPECIFIC TO PREDIX BRANDING
common/abstract rules go in px-highchart-gauge-sketch.scss, not in this file.
*/
/*------------------------------------*    #PX-COLORS-DESIGN
\*------------------------------------*/
/**
 * Brand Colors
 */
/**
     * Primary
     */
/**
     * Light
     */
/**
     * Dark
     */
/**
 * Monochromatic (gray10 is darkest, gray1 is lightest)
 */
/**
 * Define grey = gray to avoid dev typos
 */
/**
 * Buttons
 */
/**
 * Selection
 */
/**
 * Alerts
 */
/**
 * Data Visualization
 */
/**
     * Basic
     */
/**
     * Light
     */
/**
     * Dark
     */
/*
 * Copyright (c) 2014 GE Global Research. All rights reserved.
 *
 * The copyright to the computer software herein is the property of
 * GE Global Research. The software may be used and/or copied only
 * with the written permission of GE Global Research or in accordance
 * with the terms and conditions stipulated in the agreement/contract
 * under which the software has been supplied.
 */
/*
THIS FILE SHOULD CONTAIN ONLY ABSTRACT/'SKETCH' THEME RULES, NOT SPECIFIC TO PREDIX BRANDING
Predix branding rules go in px-highchart-gauge-predix.scss, not in this file.
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
html {
  font-size: 0.9375em;
  /* [1] */
  line-height: 1.3333333333;
  /* [1] */
  background-color: white;
  color: black;
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */
  text-size-adjust: 100%;
  /* [4] */
  -moz-osx-font-smoothing: grayscale;
  /* [5] */
  -webkit-font-smoothing: antialiased;
  /* [5] */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Margins
   ========================================================================== */
/**
 * Where `margin-bottom` is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: 1rem; }

/**
 * Remove extra vertical spacing when nesting lists.
 */
li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once,here.
 */
ul, ol, dd {
  margin-left: 2rem; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10. Make images shrink from their largest size.
 */
img {
  max-width: 100%;
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Zero margins for figure.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
  box-sizing: border-box; }

:host {
  /*! Comment to prevent cssmin munging this rule with html above and borking Safari */
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/**
 * A series of helper classes to use arbitrarily. Only use a helper class if an
 * element/component doesn’t already have a class to which you could apply this
 * styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
 * that ruleset as opposed to adding the `.float--left` class to the markup.
 *
 * A lot of these classes carry `!important` as you will always want them to win
 * out over other selectors.
 */
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  /**
 * Default link colors
 */
  /**
 * Improve readability when focused and also mouse hovered in all browsers.
 */ }
  a:link, a:visited {
    color: #3e87e8; }
  a:hover {
    color: #3573c5; }
  a:active {
    color: #2b5ea2; }
  a:active, a:hover {
    outline: 0; }

/**
 * Add/remove floats
 */
.float--right {
  float: right !important; }

.float--left {
  float: left !important; }

.float--none {
  float: none !important; }

/**
 * Text alignment
 */
.text--left {
  text-align: left !important; }

.text--center {
  text-align: center !important; }

.text--right {
  text-align: right !important; }

/**
 * Full height element
 */
.full-height {
  height: 100% !important; }

/**
 * Add a help cursor to any element that gives the user extra information on
 * `:hover`.
 */
.informative {
  cursor: help !important; }

/**
 * Mute an object by reducing its opacity.
 */
.muted {
  opacity: 0.5 !important; }

/**
 * Align items to the right where they imply progression/movement forward, e.g.:
 *
   <p class=proceed><a href=#>Read more...</a></p>
 *
 */
.proceed {
  text-align: right !important; }

/**
 * Apply capital case to an element (usually a `strong`).
 */
.caps {
  text-transform: uppercase !important; }

/**
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/**
 * Hide content off-screen without resorting to `display:none;`
 */
.a11y,
.visuallyhidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important; }

.a11y.focusable:active, .a11y.focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  overflow: visible;
  width: auto;
  height: auto;
  margin: 0;
  clip: auto; }

@media screen and (max-width: 44.9375em) {
  .a11y-palm,
  .visuallyhidden-palm {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (min-width: 45em) and (max-width: 63.9375em) {
  .a11y-lap,
  .visuallyhidden-lap {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (min-width: 45em) {
  .a11y-lap-and-up,
  .visuallyhidden-lap-and-up {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (max-width: 63.9375em) {
  .a11y-portable,
  .visuallyhidden-portable {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media screen and (min-width: 64em) {
  .a11y-desk,
  .visuallyhidden-desk {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .a11y-retina,
  .visuallyhidden-retina {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important; } }

/**
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden !important; }

.flex {
  display: flex; }

.flex--row {
  flex-direction: row; }

.flex--row--rev {
  flex-direction: row-reverse; }

.flex--col {
  flex-direction: column; }

.flex--col--rev {
  flex-direction: column-reverse; }

.flex--nowrap {
  flex-wrap: nowrap; }

.flex--wrap {
  flex-wrap: wrap; }

.flex--wrap--rev {
  flex-wrap: wrap-reverse; }

.flex--left {
  justify-content: flex-start; }

.flex--center {
  justify-content: center; }

.flex--right {
  justify-content: flex-end; }

.flex--justify {
  justify-content: space-between; }

.flex--spaced {
  justify-content: space-around; }

.flex--top {
  align-items: flex-start; }

.flex--middle {
  align-items: center; }

.flex--bottom {
  align-items: flex-end; }

.flex--stretch {
  align-items: stretch; }

.flex--baseline {
  align-items: baseline; }

.flex--top--multi {
  align-content: flex-start; }

.flex--middle--multi {
  align-content: center; }

.flex--bottom--multi {
  align-content: flex-end; }

.flex--stretch--multi {
  align-content: stretch; }

.flex--justify--multi {
  align-content: space-between; }

.flex--spaced--multi {
  align-content: space-around; }

.flex__item {
  flex: 1; }

.flex__item--top {
  align-self: flex-start; }

.flex__item--middle {
  align-self: center; }

.flex__item--bottom {
  align-self: flex-end; }

.flex__item--baseline {
  align-self: baseline; }

.viewport {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto; }

.viewport--full-height {
  min-height: 100vh; }

/*------------------------------------*    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Margin and padding helper classes with breakpoint prefixes. Use these to tweak layout on a micro
 * level based on viewport widths.
 *
 * `.u-[breakpoint]-(m|p)(t|r|b|l|h|v)(-|+|0) {}` = utility - breakpoint - margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.u-(m|p)(t|r|b|l|h|v)(-|+|0) {}` = utility - margin/padding top/right/bottom/left/horizontal/vertical less/more/none
 */
/**
 * A series of width helper classes that you can use to size things like grid
 * systems. Classes can take a fraction-like format (e.g. `.u-2/3`) or a spoken-
 * word format (e.g. `.u-2-of-3`).
 *
 */
.u-1\/1 {
  width: 100% !important; }

.u-1\/2 {
  width: 50% !important;
  flex: none !important; }

.u-1\/3 {
  width: 33.3333333333% !important;
  flex: none !important; }

.u-2\/3 {
  width: 66.6666666667% !important;
  flex: none !important; }

.u-1\/4 {
  width: 25% !important;
  flex: none !important; }

.u-2\/4 {
  width: 50% !important;
  flex: none !important; }

.u-3\/4 {
  width: 75% !important;
  flex: none !important; }

.u-1\/6 {
  width: 16.6666666667% !important;
  flex: none !important; }

.u-2\/6 {
  width: 33.3333333333% !important;
  flex: none !important; }

.u-3\/6 {
  width: 50% !important;
  flex: none !important; }

.u-4\/6 {
  width: 66.6666666667% !important;
  flex: none !important; }

.u-5\/6 {
  width: 83.3333333333% !important;
  flex: none !important; }

@media screen and (max-width: 47.9375rem) {
  .u-1\/1-palm {
    width: 100% !important; }
  .u-1\/2-palm {
    width: 50% !important;
    flex: none !important; }
  .u-1\/3-palm {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-2\/3-palm {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-1\/4-palm {
    width: 25% !important;
    flex: none !important; }
  .u-2\/4-palm {
    width: 50% !important;
    flex: none !important; }
  .u-3\/4-palm {
    width: 75% !important;
    flex: none !important; }
  .u-1\/6-palm {
    width: 16.6666666667% !important;
    flex: none !important; }
  .u-2\/6-palm {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-3\/6-palm {
    width: 50% !important;
    flex: none !important; }
  .u-4\/6-palm {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-5\/6-palm {
    width: 83.3333333333% !important;
    flex: none !important; } }

@media screen and (min-width: 48rem) and (max-width: 68.204166667rem) {
  .u-1\/1-lap {
    width: 100% !important; }
  .u-1\/2-lap {
    width: 50% !important;
    flex: none !important; }
  .u-1\/3-lap {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-2\/3-lap {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-1\/4-lap {
    width: 25% !important;
    flex: none !important; }
  .u-2\/4-lap {
    width: 50% !important;
    flex: none !important; }
  .u-3\/4-lap {
    width: 75% !important;
    flex: none !important; }
  .u-1\/6-lap {
    width: 16.6666666667% !important;
    flex: none !important; }
  .u-2\/6-lap {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-3\/6-lap {
    width: 50% !important;
    flex: none !important; }
  .u-4\/6-lap {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-5\/6-lap {
    width: 83.3333333333% !important;
    flex: none !important; } }

@media screen and (min-width: 48rem) {
  .u-1\/1-lap-and-up {
    width: 100% !important; }
  .u-1\/2-lap-and-up {
    width: 50% !important;
    flex: none !important; }
  .u-1\/3-lap-and-up {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-2\/3-lap-and-up {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-1\/4-lap-and-up {
    width: 25% !important;
    flex: none !important; }
  .u-2\/4-lap-and-up {
    width: 50% !important;
    flex: none !important; }
  .u-3\/4-lap-and-up {
    width: 75% !important;
    flex: none !important; }
  .u-1\/6-lap-and-up {
    width: 16.6666666667% !important;
    flex: none !important; }
  .u-2\/6-lap-and-up {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-3\/6-lap-and-up {
    width: 50% !important;
    flex: none !important; }
  .u-4\/6-lap-and-up {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-5\/6-lap-and-up {
    width: 83.3333333333% !important;
    flex: none !important; } }

@media screen and (max-width: 68.2rem) {
  .u-1\/1-portable {
    width: 100% !important; }
  .u-1\/2-portable {
    width: 50% !important;
    flex: none !important; }
  .u-1\/3-portable {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-2\/3-portable {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-1\/4-portable {
    width: 25% !important;
    flex: none !important; }
  .u-2\/4-portable {
    width: 50% !important;
    flex: none !important; }
  .u-3\/4-portable {
    width: 75% !important;
    flex: none !important; }
  .u-1\/6-portable {
    width: 16.6666666667% !important;
    flex: none !important; }
  .u-2\/6-portable {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-3\/6-portable {
    width: 50% !important;
    flex: none !important; }
  .u-4\/6-portable {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-5\/6-portable {
    width: 83.3333333333% !important;
    flex: none !important; } }

@media screen and (min-width: 68.266666667rem) {
  .u-1\/1-desk {
    width: 100% !important; }
  .u-1\/2-desk {
    width: 50% !important;
    flex: none !important; }
  .u-1\/3-desk {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-2\/3-desk {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-1\/4-desk {
    width: 25% !important;
    flex: none !important; }
  .u-2\/4-desk {
    width: 50% !important;
    flex: none !important; }
  .u-3\/4-desk {
    width: 75% !important;
    flex: none !important; }
  .u-1\/6-desk {
    width: 16.6666666667% !important;
    flex: none !important; }
  .u-2\/6-desk {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-3\/6-desk {
    width: 50% !important;
    flex: none !important; }
  .u-4\/6-desk {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-5\/6-desk {
    width: 83.3333333333% !important;
    flex: none !important; } }

@media screen and (min-width: 80rem) {
  .u-1\/1-desk-wide {
    width: 100% !important; }
  .u-1\/2-desk-wide {
    width: 50% !important;
    flex: none !important; }
  .u-1\/3-desk-wide {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-2\/3-desk-wide {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-1\/4-desk-wide {
    width: 25% !important;
    flex: none !important; }
  .u-2\/4-desk-wide {
    width: 50% !important;
    flex: none !important; }
  .u-3\/4-desk-wide {
    width: 75% !important;
    flex: none !important; }
  .u-1\/6-desk-wide {
    width: 16.6666666667% !important;
    flex: none !important; }
  .u-2\/6-desk-wide {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-3\/6-desk-wide {
    width: 50% !important;
    flex: none !important; }
  .u-4\/6-desk-wide {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-5\/6-desk-wide {
    width: 83.3333333333% !important;
    flex: none !important; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .u-1\/1-retina {
    width: 100% !important; }
  .u-1\/2-retina {
    width: 50% !important;
    flex: none !important; }
  .u-1\/3-retina {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-2\/3-retina {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-1\/4-retina {
    width: 25% !important;
    flex: none !important; }
  .u-2\/4-retina {
    width: 50% !important;
    flex: none !important; }
  .u-3\/4-retina {
    width: 75% !important;
    flex: none !important; }
  .u-1\/6-retina {
    width: 16.6666666667% !important;
    flex: none !important; }
  .u-2\/6-retina {
    width: 33.3333333333% !important;
    flex: none !important; }
  .u-3\/6-retina {
    width: 50% !important;
    flex: none !important; }
  .u-4\/6-retina {
    width: 66.6666666667% !important;
    flex: none !important; }
  .u-5\/6-retina {
    width: 83.3333333333% !important;
    flex: none !important; } }
